body{
    background: linear-gradient(90deg, rgba(83,146,228,1) 1%, rgba(131,177,228,0.23853291316526615) 49%, rgba(83,146,228,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    animation: blinker 2.5s linear infinite;    
    text-align: center;
}
p, label, input{
    font-size: 26px;
}

#button { 
    text-decoration: none; 
    font-size: 25px;    
    padding: 5px 10px;
    border: none; 
    outline: none; 
    color: #fff; 
    background: rgb(0, 0, 0); 
    cursor: pointer; 
    position: relative; 
    z-index: 0; 
    border-radius: 10px; 
} 
 
#button:before { 
    content: ''; 
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); 
    position: absolute; 
    top: -2px; 
    left:-2px; 
    background-size: 400%; 
    z-index: -1; 
    filter: blur(5px); 
    width: calc(100% + 4px); 
    height: calc(100% + 4px); 
    animation: glowing 20s linear infinite; 
    opacity: 0; 
    transition: opacity .3s ease-in-out; 
    border-radius: 10px; 
} 

#button:active { 
    color: #000 
} 

#button:active:after { 
    background: transparent; 
} 

#button:hover:before { 
    opacity: 1; 
} 
 
#button:after { 
    z-index: -1; 
    content: ''; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: #111; 
    left: 0; 
    top: 0; 
    border-radius: 10px; 
} 
  
@keyframes glowing { 
    0% { background-position: 0 0; } 
    50% { background-position: 400% 0; } 
    100% { background-position: 0 0; } 
} 

#p_resultado{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 35px;
color: darkred;
}
input{
    border-radius: 6px;
    width: 45px;
}
hr{
    height:2px;
    border-width:0;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0)
}
main{
    text-align: justify;
}


@keyframes blinker {
    50% {
        color: darkred;
        /* opacity: 35%; */
    }
}
@media only screen and (max-width: 768px) {
    *, #button, input, p, label  {
        font-size: 20px;
    }
    #p_resultado{
        font-size: 26px;        
    }    
}

